@font-face {
  font-family: santander;
  src: url(./font/Santander\ Headline\ W05\ Regular.ttf);
}
:root{
  --outer-shadow: 
  0 0 0.1vw 0.4vw #fffb00,
  0 0 0.4vw 0.6 #000000 ,
  0  0.1vw 0.4 #001214,
}
.title-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
 
  margin: 0;
  color: #ec0000;
  font-family: santander;
  font-size: 8rem;
  justify-content: center;
}


.logo {
  margin-left: 20px;
  width: 120px;
  height: 120px;
  display: inline-block;
  color: #ec0000;
}
body{
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: 	#fff;
}




.slot{
  width: 88%;
  height: 400px;
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow:var(--outer-shadow);

}


#slot-screen{
  height: 500px;
  position: relative;
  overflow: hidden;
}


ul{
  list-style: none;

}


ul li{
  border: 2px solid black;
  border-radius: 5px;
  width: 98%;
  margin: 1px 0;
  background-color: #333333;
}
.reels{
  width: 31%;
  position: absolute;
  padding: 0px;
}

.reels:nth-child(1){
  left: 0;
}

.reels:nth-child(2){
  left: 34.5%;
}

.reels:nth-child(3){
  right: 0; 
}
 .reel img{
  display: block;
  margin: auto;
  height: 240px;
  max-width: 100%;
 }


 .stop-btn{
  display: inline-block;
  padding: 35px;
  margin: 40px;
  background-color: rgb(236,0,0);
  box-shadow: 0 0 29 31 #fff,
  0 0 19px 19px #f00,
  0 0 33px 17px #f00;
  border-bottom: solid 4px #627295;
  border-radius: 60px;
 }

 .stop-btn:hover{
  background-color: rgb(21, 199, 15);
  cursor: pointer;
  box-shadow: 0 0 29px 31px #fff,
  0 0 19px 19px rgb(21, 255, 0),
  0 0 33px 1px rgb(0, 255, 42)
   ;
 }

 .stop-btn:active{
  -webkit-transform: translateY(4px);
  transform:translateY(4px);
  border-bottom: none;
 }

 #start-btn{
  display: inline-block;
  padding: 20px 40px;
  background-color: #13aa52;
  border: 5px solid #02893a;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
 }

 #start-btn:hover{
  background-color: #06a347;
  cursor: pointer;
 }

 #start-btn:active{
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  border: none;
 }




/* !CARD */   

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}


.body-cards,.body-cards2 {
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  justify-content: space-around;

}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 1s;
  border-radius: 10px;
  
}

.card .front {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: #ec0000 ;
  transform: perspective(500px) rotateY(0deg);
}

.card .back {
  background: #682fc4;
  transform: perspective(500px) rotateY(180deg);
}


.card:hover .front {
 
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
 
  transform: perspective(500px) rotateY(360deg);
}

.card div h1 {
  font-size: 100px;
  color: #f1f1f1;
}

